<div>
    <div class="weibo-media f-media">
        <div class="weibo-media-wraps">
            <div class="card-video type-video">
                <div class="mwb-video mwbv-play mwbv-info">
                    <div class="m-img-box"><img src="https://imgaliyuncdn.miaopai.com/images/ZxwE605PgGC5n1kHWcF~EwbDML4NuS1w8osk1Q___Lkw__4.jpg"></div>
                    <button class="mwbv-play-button"><span class="mwbv-icon"></span></button>
                    <div class="mwbv-info-bar">
                        <div class="m-box">
                            <div class="m-box-col"></div>
                            <div class="time"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>